<div class="home_img">
<div class="login-container">
<div style="border: 1px solid #ccc; padding: 20px; width: 300px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.829);">
    <h2>Add Student:</h2>
    <br>
    <form [formGroup]="studentForm">
        <div style="margin-bottom: 15px;">
            <p>Student Name:</p>
            <input type="text"  formControlName="studentname" style="width: 100%;">
            <div *ngIf="studentForm.get('studentname')?.hasError('pattern')">
                <p class="text-danger">Student name must have alpha</p>
            </div>
            <div *ngIf="studentForm.get('studentname')?.hasError('required') && studentForm.get('studentname')?.touched">
                <p class="text-danger">Student Name must required</p>
            </div>
        </div>
        <div style="margin-bottom: 15px;">
            <p>Roll No</p>
            <input type="text"  formControlName="rollno" style="width: 100%;">
            <div *ngIf="studentForm.get('rollno')?.hasError('pattern')">
                <p class="text-danger">Roll No must be number</p>
            </div>
            <div *ngIf="studentForm.get('rollno')?.hasError('required') && studentForm.get('rollno')?.touched ">
                <p class="text-danger">Roll No is required </p>
            </div>
        </div>
        <div style="margin-bottom: 15px;">
            <p>Class Name</p>
            <input type="text"  formControlName="classname" style="width: 100%;">
            <div *ngIf="studentForm.get('classname')?.getError('pattern')">
                <p class="text-danger">Class Name must be number</p>
            </div>
            <div *ngIf="studentForm.get('classname')?.getError('required') && studentForm.get('classname')?.touched">
                <p class="text-danger">Class Name must required</p>
            </div>
        </div>
        <div style="margin-bottom: 15px;">
            <p>Password</p>
            <input type="password"  formControlName="password" style="width: 100%;">
            <div *ngIf="studentForm.get('password')?.getError('required') && studentForm.get('password')?.touched">
                <p class="text-danger">Password Field must be required</p>
            </div>
        </div>
        <br>
        <button type="submit" (click)="onSubmit()" style="width: 100%; margin-top: 10px;">Submit</button>
    </form>
    <br>
    <button type="button" routerLink="/view_student" style="width: 100%;">View</button>

    <div style="margin-top: 10px;">
        <ul>
            <li *ngFor="let item of items">{{ item }} </li>
          </ul>
    </div>
</div>
</div>
</div>

<!-- {{name | titlecase}}
{{todaysDate | date}}
{{cost | currency : 'INR'}}
{{temperature | number : '1.0-0'}} -->


<!-- <button [routerLink]="['/student_login']" >login</button> -->





<!-- <div style="margin-top: 10px;">
    <div>
    <ul>
        <li *ngFor="let item of items" let i = index>
            <span>{{ item }}</span>
            <input type="text" [(ngModel)]="items[i]">
        <button (click)="update(i)">Update</button> 
    </li>

    </ul>
</div>
</div> -->

